* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

/* Button Styling */
.btn {
  display: block;
  width: 220px;
  text-align: center;
  background-color: #ebd511;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #ebd511;
  transform: scale(1.05);
}

/* Responsive buat layar kecil/hp */
@media (max-width: 480px) {
  
  .btn {
    width: 90%;
    font-size: 16px;
  }
}
