body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Bagian hero dengan warna background */
.hero {
  background:#ffbd59; /* warna latar */
  height: 100vh; /* tinggi full layar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* warna teks */
}

.hero h1 {
  font-size: 3em;
  margin: 0;
}

.hero p {
  font-size: 1.2em;
  margin: 10px 0 20px;
}

.btn {
  padding: 12px 24px;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #ddd;
}